html(ng-app='lsApp')
  head
    base(href='/')
    title Letter Studio
    
  body
    ui-view(name='nav')
    ui-view(name='content')
  
    //- inject:js
    script(src="../bower_components/angular/angular.js")
    script(src="../bower_components/angular-ui-router/release/angular-ui-router.js")
    //- endinject
    script(src='app.js')
