.row
  .btn.btn-primary.btn-success.btn-lg.left(ng-disabled='counter.counting' ng-click='counter.start()') Rozpocznij
  .btn.btn-primary.btn-danger.btn-lg.right(ng-disabled='!counter.counting' ng-click='counter.stop()') Zatrzymaj
.row(ng-show='counter.counting')
  h2 Start:
  h3 {{ counter.date.begin | date : 'hh:mm:ss'}}
  h2 End:
  h3 {{ counter.date.displayed | date : 'hh:mm:ss' }}
